{% extends "base.html" %}

{% block nav_jobs_class %}active{% endblock %}


{% block content %}
    <div class="row">    
        <div class="col-lg-12">
            <ol class="breadcrumb">
              <li><a href="{% url 'study_list' %}">All Studies</a></li>
              <li><a href="{% url 'study_detail' object.study.id %}">{{object.study}}</a></li>
              <li class="active">{{object.name}}</li>
            </ol>
        </div>
    </div>


    <div class="row">    
        <div class="col-lg-12">
            <h2>{{object.name}}</h2>
        </div>
    </div>



    <div class="row">    
        <div class="col-lg-12">
            <p><a href="#" data-toggle="collapse" data-target="#details">Details</a></p>
            <div id="details" class="collapse">
                <hr>
                <h4>Job Details</h4>
                <p>Created by {{object.created_by}} on {{object.create_dt}}</p>
                <p>Job Type: {{object.job_type}}</p>
                <p>Job ID: {{object.id}}</p>
                <p>Study: {{object.study}}</p>
                <p>Status: {{object.status}}</p>
                <p>
                    <a href="{% url 'remote_job_update' object.id %}"><button class="btn btn-default">Edit</button></a>
                    <a href="{% url 'remote_job_delete' object.id %}"><button class="btn btn-danger">Delete</button></a>
                </p>
                <hr>
            </div>
        </div>
    </div>
    
    {% if object.job_type.id == 1 %}
        {% include "remote_jobs/remote_query_detail.html" %}
    {% endif %}

{% endblock %}
