Django==1.6.5
Fabric==1.9.0
MySQL-python==1.2.5
amqp==1.4.5
anyjson==0.3.3
argparse==1.2.1
astroid==1.2.0
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.18
celery==3.1.13
certifi==14.05.14
django-celery==3.1.10
flower==0.7.1
kombu==3.0.21
logilab-common==0.62.0
paramiko==1.14.0
pylint==1.2.1
pytz==2014.4
tornado==4.0
wsgiref==0.1.2
